![lyon2 geonum](https://perso.liris.cnrs.fr/lmoncla/GEONUM/fig/logos.png)

# 2F2 – Gestion et traitement des données spatio-temporelles


## Tutoriel : Analyse des données des disponibilités des stations Vélo'v de la Métropole de Lyon


# Partie 1 : Exploration de données

Le cours a été réalisé par Ludovic Moncla - Il met à disposition sur sa plateforme des données du Grand Lyon qui ont été retravaillées.

L'objectif de ce tutoriel est d'appréhender la problématique d'analyse de données spatio-temporelles grâce à l'utilisation de librairies Python.
Pour cela nous allons travailler sur un cas d'étude visant la visualisation et le traitement des données de disponibilités des stations Vélo'v de la Métropole de Lyon. 

Les données que nous allons utilisées proviennent de la [plateforme data du Grand Lyon](https://data.grandlyon.com). 


Dans le cadre de ce TP,  vous avez à votre disposition l'ensemble des données pour la période du 7 octobre 2020 au 31 janvier 2021.


Les objectifs de ce tutoriel sont les suivants : 

* Récupérer le jeu de données, analyser sa structure et le charger dans un dataframe
* Explorer et visualiser les données
* Analyser les données : requêter le jeu de données pour générer des graphiques, des cartes et des cartes animées.

## 1. Configurer l'environnement

### 1.1 Importer les librairies

In [108]:
import pandas as pd
import numpy as np
from datetime import datetime
import plotly.express as px
import geopandas as gpd
import wget

## 2. Récupération du jeu de données

Pour palier la limite des 7 jours de disponibilité sur le site du Grand Lyon, Ludovic Moncla a développé un script qui récupère et stocke automatiquement les données chaque jour. Vous aurez ainsi accès aux données pour l'ensemble de l'année 2021. 
Les données sont au format CSV (plus simple à charger dans un dataframe qui le format JSON d'origine). Nous verrons la transformation du format de données lors de la dernière séance.

* Télécharger les archives contenant les données
1. data-stations.zip
2. data-bikes.zip

Ces 2 archives contiennent chacune un fichier CSV contenant respectivement la liste des stations vélov (et leur localisation) et la liste des disponibilités de chaque station par tranche de 30 minutes.

In [ ]:
## On télécharge l'archive contenant la liste des stations
wget.download("https://perso.liris.cnrs.fr/lmoncla/GEONUM/data-stations.zip",out="../data/")
    
## On télécharge l'archive contenant la liste des disponibilité des stations par tranche de 5 minutes
wget.download("https://perso.liris.cnrs.fr/lmoncla/GEONUM/data-bikes.zip",out="../data")

### 2.1. Chargement des données

Dans ce tutoriel nous n'allons pas utiliser de SGBD. L'objectif est de charger l'ensemble des données en mémoire dans une structure Python et de l'interroger directement. 

On distingue deux types de données :
1. les stations vélo'v (id station, latitude, longitude),
2. leurs historiques (id station, année, mois, jour, heure, minute, date, vélos disponibles, places disponibles).

Pour manipuler ces données nous allons utiliser les [dataframes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) de la librairie Pandas.

Pandas est une librairie Python spécialisée dans l'analyse et la manipulation de données. Elle fourni en particulier un objet de type 'dataframe' qui permet de réaliser des opérations de prétraitement et de filtrage que nous utiliserons pour requêter les données.

Les premiers objectifs sont les suivants :

1. Stocker dans un premier dataframe la liste des stations velo'v et leurs coordonnées latitude / longitude associées.
2. Stocker dans un second dataframe pour chaque station et chaque pas de temps les données suivantes : 
    * id de la station
    * année
    * mois
    * jour
    * heure
    * minute
    * date complète (format d'origine)
    * nombre de vélos disponibles
    * nombre de places libres
    * nombre de départs des 30 dernières minutes
    * nombre d'arrivées dess 30 dernières minutes


Pour charger les données il suffit d'utiliser la méthode [read_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv) de la librairie `Pandas`. Elle prend en paramètre le chemin du fichier que l'on souhaite charger. Ce fichier peut être de 2 formats, soit directement un fichier CSV, soit un fichier ZIP contenant un CSV. Dans notre, cas il est donc inutile de dézipper les archives téléchargées précédemment.

In [3]:
## On charge les données des stations dans un dataframe
df_stations = pd.read_csv('../data/data-stations.zip')

## On crée maintenant le dataframe avec les données d'historique
df_bikes = pd.read_csv('../data/data-bikes.zip')

In [ ]:
## On vérifie le type de notre variable
type(df_stations)

In [ ]:
## On affiche la liste des colonnes
df_stations.columns

In [ ]:
## On affiche les premières lignes
df_stations.head()

* Combien y a-t-il de stations velo'v ?

In [ ]:
## On affiche la taille du dataframe
## La méthode shape retourne les dimensions (lignes / colonnes)
print(df_stations.shape)

## La fonction len() retourne le nombre de ligne
print(len(df_stations))

In [4]:
## On affiche les premières lignes
df_bikes.head()

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
0,velov-10001,2021,1,1,0,0,2021-01-01 00:00:00+00:00,8,22,0,0
1,velov-10001,2021,1,1,0,30,2021-01-01 00:30:00+00:00,8,22,0,0
2,velov-10001,2021,1,1,1,0,2021-01-01 01:00:00+00:00,7,23,1,0
3,velov-10001,2021,1,1,1,30,2021-01-01 01:30:00+00:00,7,23,0,0
4,velov-10001,2021,1,1,2,0,2021-01-01 02:00:00+00:00,7,23,0,0

### 2.2. Premier apercu des données d'historique

In [5]:
## On affiche les information sur les données
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7800252 entries, 0 to 7800251
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   id_velov        object
 1   year            int64
 2   month           int64
 3   day             int64
 4   hour            int64
 5   minute          int64
 6   time            object
 7   bikes           int64
 8   bike_stands     int64
 9   departure30min  int64
 10  arrival30min    int64
dtypes: int64(9), object(2)
memory usage: 654.6+ MB

In [6]:
# Réduction de la taille en mémoire

## on transforme le type des colonnes en entier ou float lorsque cela est nécessaire
df_bikes['bikes'] = df_bikes.bikes.apply(lambda x: int(float(x)))
df_bikes.bike_stands = df_bikes.bike_stands.apply(lambda x: np.int32(float(x)))
df_bikes['year'] = df_bikes['year'].astype('int16')
df_bikes[['month','day','hour','minute', 'bikes', 'bike_stands', 'departure30min','arrival30min']] = df_bikes[['month','day','hour','minute', 'bikes', 'bike_stands', 'departure30min','arrival30min']].astype('int8')

In [7]:
## On affiche les information sur les données
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7800252 entries, 0 to 7800251
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   id_velov        object
 1   year            int16
 2   month           int8
 3   day             int8
 4   hour            int8
 5   minute          int8
 6   time            object
 7   bikes           int8
 8   bike_stands     int8
 9   departure30min  int8
 10  arrival30min    int8
dtypes: int16(1), int8(8), object(2)
memory usage: 193.4+ MB

In [8]:
## Description des données
df_bikes.describe()

,year,month,day,hour,minute,bikes,bike_stands,departure30min,arrival30min
count,7.800252e+06,7.800252e+06,7.800252e+06,7.800252e+06,7.800252e+06,7.800252e+06,7.800252e+06,7.800252e+06,7.800252e+06
mean,2.021004e+03,5.919969e+00,1.583957e+01,1.133367e+01,1.475726e+01,9.086573e+00,1.132540e+01,5.970303e-01,5.999383e-01
std,6.531360e-02,3.412203e+00,8.716837e+00,7.013109e+00,1.499804e+01,7.668874e+00,8.209105e+00,1.284539e+00,1.286469e+00
min,2.021000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.021000e+03,3.000000e+00,9.000000e+00,5.000000e+00,0.000000e+00,3.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00
50%,2.021000e+03,5.000000e+00,1.600000e+01,1.100000e+01,0.000000e+00,8.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00
75%,2.021000e+03,9.000000e+00,2.300000e+01,1.700000e+01,3.000000e+01,1.400000e+01,1.600000e+01,1.000000e+00,1.000000e+00
max,2.022000e+03,1.200000e+01,3.100000e+01,2.300000e+01,3.000000e+01,5.500000e+01,5.500000e+01,4.800000e+01,5.400000e+01

In [9]:
## On affiche 5 lignes sélectionnées de manière aléatoire
df_bikes.sample(5)

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
1656920,velov-10118,2021,11,6,11,0,2021-11-06 11:00:00+00:00,20,2,1,0
5013033,velov-6004,2021,4,11,4,0,2021-04-11 04:00:00+00:00,8,11,0,0
4722384,velov-5036,2021,8,10,1,30,2021-08-10 01:30:00+00:00,12,3,0,0
2616984,velov-2024,2021,3,18,6,30,2021-03-18 06:30:00+00:00,21,4,0,2
3034996,velov-3012,2021,4,11,20,30,2021-04-11 20:30:00+00:00,16,9,0,0

### 2.3. Manipulation d'un dataframe

In [10]:
## Accès à une colonne
df_bikes['time']

0          2021-01-01 00:00:00+00:00
1          2021-01-01 00:30:00+00:00
2          2021-01-01 01:00:00+00:00
3          2021-01-01 01:30:00+00:00
4          2021-01-01 02:00:00+00:00
                     ...
7800247    2022-01-01 23:00:00+00:00
7800248    2022-01-01 23:30:00+00:00
7800249    2022-01-01 23:30:00+00:00
7800250    2022-01-02 00:00:00+00:00
7800251    2022-01-02 00:00:00+00:00
Name: time, Length: 7800252, dtype: object

In [11]:
## Accès à une colonne (autre manière en utilisant le .)
df_bikes.time

0          2021-01-01 00:00:00+00:00
1          2021-01-01 00:30:00+00:00
2          2021-01-01 01:00:00+00:00
3          2021-01-01 01:30:00+00:00
4          2021-01-01 02:00:00+00:00
                     ...
7800247    2022-01-01 23:00:00+00:00
7800248    2022-01-01 23:30:00+00:00
7800249    2022-01-01 23:30:00+00:00
7800250    2022-01-02 00:00:00+00:00
7800251    2022-01-02 00:00:00+00:00
Name: time, Length: 7800252, dtype: object

In [16]:
## Accès à un ensemble de colonnes
mes_colonnes = ['time','bikes','year']
df_bikes[mes_colonnes]

                              time  bikes  year
0        2021-01-01 00:00:00+00:00      8  2021
1        2021-01-01 00:30:00+00:00      8  2021
2        2021-01-01 01:00:00+00:00      7  2021
3        2021-01-01 01:30:00+00:00      7  2021
4        2021-01-01 02:00:00+00:00      7  2021
...                            ...    ...   ...
7800247  2022-01-01 23:00:00+00:00      3  2022
7800248  2022-01-01 23:30:00+00:00      3  2022
7800249  2022-01-01 23:30:00+00:00      3  2022
7800250  2022-01-02 00:00:00+00:00      4  2022
7800251  2022-01-02 00:00:00+00:00      4  2022

[7800252 rows x 3 columns]

In [ ]:
## Récupérer les valeurs d'un ensemble de colonnes
df_bikes[['time', 'bikes']].values

array([['2021-01-01 00:00:00+00:00', 8],
       ['2021-01-01 00:30:00+00:00', 8],
       ['2021-01-01 01:00:00+00:00', 7],
       ...,
       ['2022-01-01 23:30:00+00:00', 3],
       ['2022-01-02 00:00:00+00:00', 4],
       ['2022-01-02 00:00:00+00:00', 4]], shape=(7800252, 2), dtype=object)

Une colonne (ou variable) est un vecteur de données (Series dans la terminologie de la librarie Pandas).

In [19]:
## Affichage des premières valeurs d'une seule colonne
df_bikes['time'].head()

0    2021-01-01 00:00:00+00:00
1    2021-01-01 00:30:00+00:00
2    2021-01-01 01:00:00+00:00
3    2021-01-01 01:30:00+00:00
4    2021-01-01 02:00:00+00:00
Name: time, dtype: object

In [20]:
## Affichage des dernières valeurs de la colonne
df_bikes['time'].tail()

7800247    2022-01-01 23:00:00+00:00
7800248    2022-01-01 23:30:00+00:00
7800249    2022-01-01 23:30:00+00:00
7800250    2022-01-02 00:00:00+00:00
7800251    2022-01-02 00:00:00+00:00
Name: time, dtype: object

In [21]:
## On trie les valeurs d'une colonne de manière croissante
df_bikes['time'].sort_values()

0          2021-01-01 00:00:00+00:00
1363382    2021-01-01 00:00:00+00:00
2467362    2021-01-01 00:00:00+00:00
2703137    2021-01-01 00:00:00+00:00
3349345    2021-01-01 00:00:00+00:00
                     ...
2398034    2022-01-02 00:00:00+00:00
2398035    2022-01-02 00:00:00+00:00
7503119    2022-01-02 00:00:00+00:00
2328699    2022-01-02 00:00:00+00:00
7800251    2022-01-02 00:00:00+00:00
Name: time, Length: 7800252, dtype: object

In [22]:
## Le tri peut également être généralisé aux DataFrame
## Tri du jeu de données selon l'id de la station et la date
df_bikes.sort_values(by=['id_velov', 'time'])

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
0,velov-10001,2021,1,1,0,0,2021-01-01 00:00:00+00:00,8,22,0,0
1,velov-10001,2021,1,1,0,30,2021-01-01 00:30:00+00:00,8,22,0,0
2,velov-10001,2021,1,1,1,0,2021-01-01 01:00:00+00:00,7,23,1,0
3,velov-10001,2021,1,1,1,30,2021-01-01 01:30:00+00:00,7,23,0,0
4,velov-10001,2021,1,1,2,0,2021-01-01 02:00:00+00:00,7,23,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7800247,velov-9052,2022,1,1,23,0,2022-01-01 23:00:00+00:00,3,9,0,0
7800248,velov-9052,2022,1,1,23,30,2022-01-01 23:30:00+00:00,3,9,0,0
7800249,velov-9052,2022,1,1,23,30,2022-01-01 23:30:00+00:00,3,9,0,0
7800250,velov-9052,2022,1,2,0,0,2022-01-02 00:00:00+00:00,4,8,0,1
7800251,velov-9052,2022,1,2,0,0,2022-01-02 00:00:00+00:00,4,8,0,1

In [24]:
## Alternative permettant de remettre l'index des lignes à zéro
df_bikes = df_bikes.sort_values(by=['id_velov', 'time']).reset_index(drop=True)
df_bikes

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
0,velov-10001,2021,1,1,0,0,2021-01-01 00:00:00+00:00,8,22,0,0
1,velov-10001,2021,1,1,0,30,2021-01-01 00:30:00+00:00,8,22,0,0
2,velov-10001,2021,1,1,1,0,2021-01-01 01:00:00+00:00,7,23,1,0
3,velov-10001,2021,1,1,1,30,2021-01-01 01:30:00+00:00,7,23,0,0
4,velov-10001,2021,1,1,2,0,2021-01-01 02:00:00+00:00,7,23,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7800247,velov-9052,2022,1,1,23,0,2022-01-01 23:00:00+00:00,3,9,0,0
7800248,velov-9052,2022,1,1,23,30,2022-01-01 23:30:00+00:00,3,9,0,0
7800249,velov-9052,2022,1,1,23,30,2022-01-01 23:30:00+00:00,3,9,0,0
7800250,velov-9052,2022,1,2,0,0,2022-01-02 00:00:00+00:00,4,8,0,1
7800251,velov-9052,2022,1,2,0,0,2022-01-02 00:00:00+00:00,4,8,0,1

In [34]:
## Comptage des valeurs
df_bikes['id_velov'].value_counts()

id_velov
velov-1013     23392
velov-1005     23389
velov-1006     23388
velov-1003     23388
velov-1016     23388
               ...
velov-10049    17991
velov-7012     15484
velov-9014      9342
velov-2023      5366
velov-3001       336
Name: count, Length: 343, dtype: int64

In [35]:
## une colonne étant un vecteur il est possible d'utiliser des indices pour accèder aux éléments
## Affichage de la première valeur de la colonne time
df_bikes['time'][0]

'2021-01-01 00:00:00+00:00'

In [36]:
## Affichage des 3 premières valeurs de la colonne time
df_bikes['time'][0:3]

0    2021-01-01 00:00:00+00:00
1    2021-01-01 00:30:00+00:00
2    2021-01-01 01:00:00+00:00
Name: time, dtype: object

#### 2.3.1 Itérations sur les colonnes (variables)

Les itérations sur les variables peuvent se faire via une boucle, ou via l'utilisation de fonctions callback appelée à l'aide d'une fonction `.apply()`.

In [ ]:
## Boucler sur l'ensemble des colonne pour afficher leur nom et leur type
for col in df_bikes.columns:
    print(col, ": ", df_bikes[col].dtype)

id_velov
year
month
day
hour
minute
time
bikes
bike_stands
departure30min
arrival30min

#### 2.3.2 Itérations sur les lignes (\*\*déconseillé dans le cas des grands dataframe**)


Il est possible de parcourir les lignes d'un dataframe, mais attention, l'itération sur un dataframe est lent. Mieux vaut utiliser des opérations vectorielles ! Si on ne peut pas, on préfére utiliser une fonction callback appelée à l'aide d'une fonction `.apply()`.

Remarque : on ne peut pas modifier un dataframe sur lequel on boucle.

In [42]:
## Pour l'exemple, on itère sur le dataframe des stations (car celui de l'historique est trop grand)
for index, row in df_stations.iterrows():
    print('ID :', row.id_velov, '\t lat :', row.latitude,'\t lng :', row.longitude)

ID : velov-10056 	 lat : 45.779112 	 lng : 4.871952
ID : velov-9013 	 lat : 45.787384 	 lng : 4.814374
ID : velov-5044 	 lat : 45.759797 	 lng : 4.796627
ID : velov-9014 	 lat : 45.783341 	 lng : 4.811433
ID : velov-10058 	 lat : 45.767126 	 lng : 4.89215
ID : velov-9022 	 lat : 45.778554 	 lng : 4.80704
ID : velov-10060 	 lat : 45.758788 	 lng : 4.878976
ID : velov-2009 	 lat : 45.739608 	 lng : 4.815074
ID : velov-10034 	 lat : 45.761788 	 lng : 4.886157
ID : velov-2036 	 lat : 45.75947 	 lng : 4.830145
ID : velov-6006 	 lat : 45.77332 	 lng : 4.85183
ID : velov-1016 	 lat : 45.765949 	 lng : 4.831107
ID : velov-6001 	 lat : 45.766855 	 lng : 4.858974
ID : velov-9049 	 lat : 45.770134 	 lng : 4.805158
ID : velov-5026 	 lat : 45.763376 	 lng : 4.82904
ID : velov-6008 	 lat : 45.768412 	 lng : 4.859071
ID : velov-9040 	 lat : 45.771006 	 lng : 4.807613
ID : velov-10005 	 lat : 45.779702 	 lng : 4.859991
ID : velov-2038 	 lat : 45.75308 	 lng : 4.829649
ID : velov-1020 	 lat : 45.766806 	 lng : 4.832934
ID : velov-6037 	 lat : 45.782306 	 lng : 4.849344
ID : velov-2007 	 lat : 45.742646 	 lng : 4.820494
ID : velov-10002 	 lat : 45.78219 	 lng : 4.87688
ID : velov-10061 	 lat : 45.770784 	 lng : 4.872959
ID : velov-10059 	 lat : 45.768876 	 lng : 4.884242
ID : velov-10092 	 lat : 45.771558 	 lng : 4.89037
ID : velov-5045 	 lat : 45.750481 	 lng : 4.788774
ID : velov-5029 	 lat : 45.767044 	 lng : 4.826984
ID : velov-6031 	 lat : 45.76375 	 lng : 4.843743
ID : velov-2001 	 lat : 45.757963 	 lng : 4.834636
ID : velov-5016 	 lat : 45.757565 	 lng : 4.800962
ID : velov-2039 	 lat : 45.749253 	 lng : 4.829844
ID : velov-10004 	 lat : 45.776221 	 lng : 4.862648
ID : velov-9041 	 lat : 45.792567 	 lng : 4.820635
ID : velov-2006 	 lat : 45.745582 	 lng : 4.823533
ID : velov-6036 	 lat : 45.783882 	 lng : 4.85214
ID : velov-1021 	 lat : 45.766837 	 lng : 4.834333
ID : velov-10032 	 lat : 45.757156 	 lng : 4.899965
ID : velov-2030 	 lat : 45.764072 	 lng : 4.835525
ID : velov-10035 	 lat : 45.763159 	 lng : 4.90048
ID : velov-2008 	 lat : 45.756766 	 lng : 4.833841
ID : velov-6007 	 lat : 45.76966 	 lng : 4.852373
ID : velov-2037 	 lat : 45.747921 	 lng : 4.824926
ID : velov-7053 	 lat : 45.750264 	 lng : 4.845193
ID : velov-3097 	 lat : 45.7572 	 lng : 4.840499
ID : velov-8024 	 lat : 45.733237 	 lng : 4.878632
ID : velov-3090 	 lat : 45.74192 	 lng : 4.8935
ID : velov-7062 	 lat : 45.747727 	 lng : 4.851598
ID : velov-3099 	 lat : 45.756955 	 lng : 4.865442
ID : velov-8015 	 lat : 45.740302 	 lng : 4.874185
ID : velov-4042 	 lat : 45.7817 	 lng : 4.8206
ID : velov-11003 	 lat : 45.79172 	 lng : 4.82366
ID : velov-7031 	 lat : 45.739813 	 lng : 4.840307
ID : velov-3001 	 lat : 45.760263 	 lng : 4.858464
ID : velov-3039 	 lat : 45.752592 	 lng : 4.85571
ID : velov-10122 	 lat : 45.784051 	 lng : 4.897086
ID : velov-8041 	 lat : 45.724716 	 lng : 4.870832
ID : velov-7009 	 lat : 45.737795 	 lng : 4.837586
ID : velov-4011 	 lat : 45.781492 	 lng : 4.83284
ID : velov-10114 	 lat : 45.757907 	 lng : 4.910807
ID : velov-10113 	 lat : 45.755767 	 lng : 4.891489
ID : velov-7038 	 lat : 45.749555 	 lng : 4.852944
ID : velov-3008 	 lat : 45.74581 	 lng : 4.870688
ID : velov-7007 	 lat : 45.735674 	 lng : 4.827719
ID : velov-3037 	 lat : 45.757123 	 lng : 4.853472
ID : velov-7064 	 lat : 45.745399 	 lng : 4.847859
ID : velov-3053 	 lat : 45.751132 	 lng : 4.855583
ID : velov-3091 	 lat : 45.748183 	 lng : 4.896957
ID : velov-7055 	 lat : 45.746759 	 lng : 4.842013
ID : velov-7052 	 lat : 45.745962 	 lng : 4.85119
ID : velov-8025 	 lat : 45.744461 	 lng : 4.860994
ID : velov-3009 	 lat : 45.750253 	 lng : 4.857925
ID : velov-10112 	 lat : 45.754536 	 lng : 4.885139
ID : velov-7039 	 lat : 45.751037 	 lng : 4.848041
ID : velov-3036 	 lat : 45.753799 	 lng : 4.859863
ID : velov-4021 	 lat : 45.774046 	 lng : 4.825193
ID : velov-7006 	 lat : 45.727179 	 lng : 4.831044
ID : velov-10115 	 lat : 45.754098 	 lng : 4.905664
ID : velov-7001 	 lat : 45.754867 	 lng : 4.843739
ID : velov-4026 	 lat : 45.774633 	 lng : 4.813314
ID : velov-3031 	 lat : 45.759931 	 lng : 4.844516
ID : velov-7008 	 lat : 45.752573 	 lng : 4.846363
ID : velov-8040 	 lat : 45.73624 	 lng : 4.883737
ID : velov-3038 	 lat : 45.757331 	 lng : 4.858935
ID : velov-3007 	 lat : 45.743442 	 lng : 4.878903
ID : velov-11002 	 lat : 45.78573 	 lng : 4.848304
ID : velov-4017 	 lat : 45.776093 	 lng : 4.829475
ID : velov-7030 	 lat : 45.743222 	 lng : 4.834251
ID : velov-7012 	 lat : 45.729501 	 lng : 4.82969
ID : velov-10101 	 lat : 45.779474 	 lng : 4.874331
ID : velov-7023 	 lat : 45.742654 	 lng : 4.850537
ID : velov-3013 	 lat : 45.753645 	 lng : 4.889269
ID : velov-4004 	 lat : 45.779686 	 lng : 4.82763
ID : velov-8054 	 lat : 45.740847 	 lng : 4.868207
ID : velov-4003 	 lat : 45.779713 	 lng : 4.834787
ID : velov-7024 	 lat : 45.748519 	 lng : 4.840523
ID : velov-8053 	 lat : 45.743572 	 lng : 4.870106
ID : velov-8007 	 lat : 45.745017 	 lng : 4.866452
ID : velov-8038 	 lat : 45.74677 	 lng : 4.867283
ID : velov-3085 	 lat : 45.75783 	 lng : 4.868395
ID : velov-8009 	 lat : 45.736575 	 lng : 4.869916
ID : velov-7041 	 lat : 45.746686 	 lng : 4.844482
ID : velov-3071 	 lat : 45.740483 	 lng : 4.888086
ID : velov-7046 	 lat : 45.73008 	 lng : 4.827793
ID : velov-3082 	 lat : 45.757623 	 lng : 4.845109
ID : velov-3015 	 lat : 45.760777 	 lng : 4.852511
ID : velov-4002 	 lat : 45.7742 	 lng : 4.827765
ID : velov-8052 	 lat : 45.747097 	 lng : 4.860144
ID : velov-4005 	 lat : 45.777615 	 lng : 4.834451
ID : velov-3012 	 lat : 45.749517 	 lng : 4.887286
ID : velov-7022 	 lat : 45.743926 	 lng : 4.841522
ID : velov-3024 	 lat : 45.741423 	 lng : 4.885377
ID : velov-7014 	 lat : 45.75301 	 lng : 4.841378
ID : velov-12001 	 lat : 45.760813 	 lng : 4.920604
ID : velov-7013 	 lat : 45.73125 	 lng : 4.823932
ID : velov-8030 	 lat : 45.741374 	 lng : 4.879737
ID : velov-3083 	 lat : 45.761519 	 lng : 4.850486
ID : velov-8037 	 lat : 45.734032 	 lng : 4.862904
ID : velov-3084 	 lat : 45.757261 	 lng : 4.855201
ID : velov-8008 	 lat : 45.727889 	 lng : 4.863518
ID : velov-3079 	 lat : 45.751205 	 lng : 4.88482
ID : velov-7049 	 lat : 45.72796 	 lng : 4.823559
ID : velov-8001 	 lat : 45.74854 	 lng : 4.861542
ID : velov-8006 	 lat : 45.729746 	 lng : 4.868284
ID : velov-8039 	 lat : 45.738741 	 lng : 4.852286
ID : velov-1032 	 lat : 45.7672 	 lng : 4.836392
ID : velov-10028 	 lat : 45.767534 	 lng : 4.873966
ID : velov-5002 	 lat : 45.756527 	 lng : 4.796612
ID : velov-2015 	 lat : 45.760912 	 lng : 4.836173
ID : velov-9052 	 lat : 45.789315 	 lng : 4.79916
ID : velov-2012 	 lat : 45.753455 	 lng : 4.833354
ID : velov-5005 	 lat : 45.766257 	 lng : 4.827363
ID : velov-1035 	 lat : 45.772201 	 lng : 4.837912
ID : velov-6022 	 lat : 45.769382 	 lng : 4.842417
ID : velov-2024 	 lat : 45.758739 	 lng : 4.834077
ID : velov-3102 	 lat : 45.752543 	 lng : 4.894259
ID : velov-1003 	 lat : 45.769266 	 lng : 4.83008
ID : velov-2023 	 lat : 45.754676 	 lng : 4.829892
ID : velov-10021 	 lat : 45.759712 	 lng : 4.889864
ID : velov-10075 	 lat : 45.7723 	 lng : 4.865699
ID : velov-10072 	 lat : 45.774226 	 lng : 4.864286
ID : velov-10086 	 lat : 45.769836 	 lng : 4.889526
ID : velov-6040 	 lat : 45.764058 	 lng : 4.849931
ID : velov-9008 	 lat : 45.797391 	 lng : 4.829084
ID : velov-9006 	 lat : 45.777207 	 lng : 4.803348
ID : velov-10043 	 lat : 45.783011 	 lng : 4.890586
ID : velov-10088 	 lat : 45.766243 	 lng : 4.897872
ID : velov-2041 	 lat : 45.754473 	 lng : 4.833011
ID : velov-2022 	 lat : 45.75123 	 lng : 4.826891
ID : velov-1005 	 lat : 45.766089 	 lng : 4.83289
ID : velov-6012 	 lat : 45.771757 	 lng : 4.844604
ID : velov-3103 	 lat : 45.754834 	 lng : 4.857546
ID : velov-1002 	 lat : 45.767507 	 lng : 4.836282
ID : velov-10018 	 lat : 45.761716 	 lng : 4.880738
ID : velov-2025 	 lat : 45.762055 	 lng : 4.833206
ID : velov-10027 	 lat : 45.766831 	 lng : 4.879894
ID : velov-6023 	 lat : 45.76683 	 lng : 4.841139
ID : velov-1034 	 lat : 45.770002 	 lng : 4.82927
ID : velov-5004 	 lat : 45.760484 	 lng : 4.826565
ID : velov-2013 	 lat : 45.75994 	 lng : 4.832072
ID : velov-10011 	 lat : 45.769212 	 lng : 4.880585
ID : velov-2014 	 lat : 45.760746 	 lng : 4.834288
ID : velov-6024 	 lat : 45.770733 	 lng : 4.85678
ID : velov-10016 	 lat : 45.7521 	 lng : 4.914643
ID : velov-5050 	 lat : 45.758362 	 lng : 4.821087
ID : velov-10087 	 lat : 45.760604 	 lng : 4.900697
ID : velov-10073 	 lat : 45.761535 	 lng : 4.872462
ID : velov-6041 	 lat : 45.784611 	 lng : 4.859639
ID : velov-10074 	 lat : 45.770048 	 lng : 4.876948
ID : velov-10080 	 lat : 45.775426 	 lng : 4.88029
ID : velov-10030 	 lat : 45.773844 	 lng : 4.893848
ID : velov-6002 	 lat : 45.777379 	 lng : 4.844881
ID : velov-2035 	 lat : 45.759879 	 lng : 4.835757
ID : velov-10008 	 lat : 45.778358 	 lng : 4.879609
ID : velov-1012 	 lat : 45.765811 	 lng : 4.836896
ID : velov-6005 	 lat : 45.765766 	 lng : 4.844732
ID : velov-10001 	 lat : 45.785632 	 lng : 4.88241
ID : velov-9044 	 lat : 45.770477 	 lng : 4.8009
ID : velov-2003 	 lat : 45.753044 	 lng : 4.828267
ID : velov-1024 	 lat : 45.769663 	 lng : 4.824635
ID : velov-9043 	 lat : 45.776092 	 lng : 4.799715
ID : velov-10006 	 lat : 45.770227 	 lng : 4.863133
ID : velov-1023 	 lat : 45.772285 	 lng : 4.819489
ID : velov-10039 	 lat : 45.77945 	 lng : 4.891501
ID : velov-2004 	 lat : 45.7501 	 lng : 4.828052
ID : velov-5047 	 lat : 45.753442 	 lng : 4.804459
ID : velov-5040 	 lat : 45.757875 	 lng : 4.826223
ID : velov-10055 	 lat : 45.776454 	 lng : 4.867115
ID : velov-9010 	 lat : 45.770941 	 lng : 4.79654
ID : velov-10063 	 lat : 45.758389 	 lng : 4.885613
ID : velov-10064 	 lat : 45.764822 	 lng : 4.884319
ID : velov-10007 	 lat : 45.774215 	 lng : 4.867504
ID : velov-9042 	 lat : 45.786508 	 lng : 4.811441
ID : velov-2005 	 lat : 45.740538 	 lng : 4.81918
ID : velov-10038 	 lat : 45.779046 	 lng : 4.866778
ID : velov-1022 	 lat : 45.769604 	 lng : 4.837658
ID : velov-6035 	 lat : 45.785421 	 lng : 4.854124
ID : velov-6032 	 lat : 45.764858 	 lng : 4.841565
ID : velov-5015 	 lat : 45.752001 	 lng : 4.821662
ID : velov-2002 	 lat : 45.758262 	 lng : 4.830439
ID : velov-10036 	 lat : 45.774357 	 lng : 4.859155
ID : velov-6004 	 lat : 45.768851 	 lng : 4.844765
ID : velov-1013 	 lat : 45.768218 	 lng : 4.827622
ID : velov-10031 	 lat : 45.78072 	 lng : 4.8835
ID : velov-6003 	 lat : 45.772911 	 lng : 4.856327
ID : velov-9020 	 lat : 45.773458 	 lng : 4.800352
ID : velov-10091 	 lat : 45.774751 	 lng : 4.888039
ID : velov-5041 	 lat : 45.766553 	 lng : 4.82001
ID : velov-9011 	 lat : 45.769782 	 lng : 4.812676
ID : velov-10054 	 lat : 45.776706 	 lng : 4.859523
ID : velov-9029 	 lat : 45.7731 	 lng : 4.807814
ID : velov-10053 	 lat : 45.779408 	 lng : 4.862902
ID : velov-10121 	 lat : 45.771925 	 lng : 4.87906
ID : velov-8042 	 lat : 45.731469 	 lng : 4.860266
ID : velov-4012 	 lat : 45.779199 	 lng : 4.840972
ID : velov-3005 	 lat : 45.753786 	 lng : 4.848042
ID : velov-7035 	 lat : 45.750933 	 lng : 4.839365
ID : velov-10119 	 lat : 45.780446 	 lng : 4.904489
ID : velov-3002 	 lat : 45.760119 	 lng : 4.858732
ID : velov-10110 	 lat : 45.759577 	 lng : 4.882758
ID : velov-7004 	 lat : 45.746206 	 lng : 4.841976
ID : velov-4023 	 lat : 45.778195 	 lng : 4.810689
ID : velov-10117 	 lat : 45.764564 	 lng : 4.892334
ID : velov-4024 	 lat : 45.78817 	 lng : 4.81856
ID : velov-7003 	 lat : 45.751802 	 lng : 4.852535
ID : velov-3067 	 lat : 45.752892 	 lng : 4.863961
ID : velov-7057 	 lat : 45.734682 	 lng : 4.835457
ID : velov-3058 	 lat : 45.758815 	 lng : 4.853881
ID : velov-8020 	 lat : 45.729727 	 lng : 4.853964
ID : velov-3094 	 lat : 45.757765 	 lng : 4.861497
ID : velov-4041 	 lat : 45.775502 	 lng : 4.835063
ID : velov-8011 	 lat : 45.735614 	 lng : 4.852997
ID : velov-3051 	 lat : 45.748166 	 lng : 4.880563
ID : velov-7061 	 lat : 45.748543 	 lng : 4.843238
ID : velov-8029 	 lat : 45.732218 	 lng : 4.865142
ID : velov-10116 	 lat : 45.760611 	 lng : 4.90621
ID : velov-7002 	 lat : 45.751332 	 lng : 4.836354
ID : velov-3032 	 lat : 45.763405 	 lng : 4.847137
ID : velov-4025 	 lat : 45.77544 	 lng : 4.817874
ID : velov-10111 	 lat : 45.770333 	 lng : 4.862258
ID : velov-4022 	 lat : 45.776063 	 lng : 4.832501
ID : velov-7005 	 lat : 45.731678 	 lng : 4.833916
ID : velov-11001 	 lat : 45.785776 	 lng : 4.833713
ID : velov-4014 	 lat : 45.77741 	 lng : 4.820492
ID : velov-3003 	 lat : 45.762979 	 lng : 4.855007
ID : velov-10118 	 lat : 45.767153 	 lng : 4.900599
ID : velov-7033 	 lat : 45.749418 	 lng : 4.834752
ID : velov-10120 	 lat : 45.776252 	 lng : 4.871629
ID : velov-7034 	 lat : 45.753709 	 lng : 4.838321
ID : velov-3004 	 lat : 45.759654 	 lng : 4.848066
ID : velov-8010 	 lat : 45.739927 	 lng : 4.859521
ID : velov-7056 	 lat : 45.755757 	 lng : 4.840695
ID : velov-3066 	 lat : 45.754263 	 lng : 4.863466
ID : velov-8021 	 lat : 45.728281 	 lng : 4.877621
ID : velov-8003 	 lat : 45.73814 	 lng : 4.88688
ID : velov-3044 	 lat : 45.761965 	 lng : 4.841053
ID : velov-8004 	 lat : 45.735206 	 lng : 4.872697
ID : velov-3088 	 lat : 45.758825 	 lng : 4.846539
ID : velov-3043 	 lat : 45.754009 	 lng : 4.86723
ID : velov-7045 	 lat : 45.737752 	 lng : 4.824488
ID : velov-8035 	 lat : 45.747249 	 lng : 4.865286
ID : velov-3086 	 lat : 45.749547 	 lng : 4.876022
ID : velov-7016 	 lat : 45.748999 	 lng : 4.847645
ID : velov-8061 	 lat : 45.725334 	 lng : 4.881419
ID : velov-10102 	 lat : 45.780944 	 lng : 4.871327
ID : velov-3021 	 lat : 45.759646 	 lng : 4.86976
ID : velov-7011 	 lat : 45.74372 	 lng : 4.847275
ID : velov-8059 	 lat : 45.735346 	 lng : 4.889584
ID : velov-4009 	 lat : 45.775923 	 lng : 4.825422
ID : velov-7018 	 lat : 45.740259 	 lng : 4.832109
ID : velov-7020 	 lat : 45.724093 	 lng : 4.827131
ID : velov-4007 	 lat : 45.77929 	 lng : 4.820245
ID : velov-3010 	 lat : 45.759374 	 lng : 4.855961
ID : velov-8057 	 lat : 45.73236 	 lng : 4.85342
ID : velov-8034 	 lat : 45.738273 	 lng : 4.862699
ID : velov-3087 	 lat : 45.762741 	 lng : 4.85231
ID : velov-3080 	 lat : 45.760055 	 lng : 4.861674
ID : velov-3089 	 lat : 45.745315 	 lng : 4.888965
ID : velov-8002 	 lat : 45.745334 	 lng : 4.87159
ID : velov-4006 	 lat : 45.773311 	 lng : 4.821279
ID : velov-7021 	 lat : 45.729806 	 lng : 4.838138
ID : velov-8056 	 lat : 45.735795 	 lng : 4.856813
ID : velov-4001 	 lat : 45.770428 	 lng : 4.814276
ID : velov-3016 	 lat : 45.759342 	 lng : 4.842228
ID : velov-8051 	 lat : 45.724271 	 lng : 4.854152
ID : velov-3029 	 lat : 45.753004 	 lng : 4.850247
ID : velov-8058 	 lat : 45.738668 	 lng : 4.878131
ID : velov-7010 	 lat : 45.747358 	 lng : 4.836049
ID : velov-3018 	 lat : 45.756699 	 lng : 4.848405
ID : velov-8060 	 lat : 45.731756 	 lng : 4.874245
ID : velov-12002 	 lat : 45.7644 	 lng : 4.919276
ID : velov-10103 	 lat : 45.784485 	 lng : 4.877404
ID : velov-10071 	 lat : 45.76156 	 lng : 4.896454
ID : velov-6043 	 lat : 45.784736 	 lng : 4.852215
ID : velov-9033 	 lat : 45.767356 	 lng : 4.80564
ID : velov-6044 	 lat : 45.76637 	 lng : 4.865084
ID : velov-10049 	 lat : 45.76918 	 lng : 4.896724
ID : velov-5055 	 lat : 45.761799 	 lng : 4.803061
ID : velov-2042 	 lat : 45.751848 	 lng : 4.824734
ID : velov-10047 	 lat : 45.771172 	 lng : 4.884998
ID : velov-9002 	 lat : 45.774241 	 lng : 4.805666
ID : velov-5006 	 lat : 45.762037 	 lng : 4.82889
ID : velov-2011 	 lat : 45.756808 	 lng : 4.828374
ID : velov-6021 	 lat : 45.770856 	 lng : 4.849971
ID : velov-1036 	 lat : 45.774372 	 lng : 4.832815
ID : velov-10013 	 lat : 45.765042 	 lng : 4.901133
ID : velov-1031 	 lat : 45.768024 	 lng : 4.831741
ID : velov-2016 	 lat : 45.763077 	 lng : 4.834287
ID : velov-5001 	 lat : 45.757196 	 lng : 4.815305
ID : velov-9051 	 lat : 45.786525 	 lng : 4.797071
ID : velov-10014 	 lat : 45.765124 	 lng : 4.909818
ID : velov-2020 	 lat : 45.73339 	 lng : 4.818946
ID : velov-5008 	 lat : 45.755437 	 lng : 4.812727
ID : velov-5030 	 lat : 45.754798 	 lng : 4.807373
ID : velov-3101 	 lat : 45.762512 	 lng : 4.868599
ID : velov-10025 	 lat : 45.763641 	 lng : 4.873141
ID : velov-6028 	 lat : 45.764334 	 lng : 4.853492
ID : velov-9003 	 lat : 45.775642 	 lng : 4.805318
ID : velov-10046 	 lat : 45.770747 	 lng : 4.867153
ID : velov-5053 	 lat : 45.756083 	 lng : 4.819314
ID : velov-10079 	 lat : 45.76813 	 lng : 4.879161
ID : velov-10041 	 lat : 45.752972 	 lng : 4.898866
ID : velov-9004 	 lat : 45.779744 	 lng : 4.804567
ID : velov-5054 	 lat : 45.763898 	 lng : 4.792714
ID : velov-10083 	 lat : 45.777798 	 lng : 4.883983
ID : velov-9032 	 lat : 45.773834 	 lng : 4.809504
ID : velov-10048 	 lat : 45.759244 	 lng : 4.875888
ID : velov-6045 	 lat : 45.766296 	 lng : 4.856833
ID : velov-10084 	 lat : 45.783514 	 lng : 4.871273
ID : velov-6042 	 lat : 45.784856 	 lng : 4.855615
ID : velov-3100 	 lat : 45.752817 	 lng : 4.8688
ID : velov-1001 	 lat : 45.767735 	 lng : 4.832135
ID : velov-6016 	 lat : 45.765988 	 lng : 4.862092
ID : velov-2026 	 lat : 45.759381 	 lng : 4.835399
ID : velov-5031 	 lat : 45.754647 	 lng : 4.788201
ID : velov-10024 	 lat : 45.755951 	 lng : 4.877346
ID : velov-5036 	 lat : 45.749687 	 lng : 4.795611
ID : velov-6011 	 lat : 45.768399 	 lng : 4.849499
ID : velov-1006 	 lat : 45.767896 	 lng : 4.819817
ID : velov-5009 	 lat : 45.764686 	 lng : 4.828945
ID : velov-2017 	 lat : 45.76219 	 lng : 4.83596
ID : velov-2028 	 lat : 45.744422 	 lng : 4.822143
ID : velov-9050 	 lat : 45.783637 	 lng : 4.794525
ID : velov-6020 	 lat : 45.774527 	 lng : 4.848382
ID : velov-2010 	 lat : 45.743392 	 lng : 4.815816
ID : velov-5007 	 lat : 45.757906 	 lng : 4.813135
ID : velov-10012 	 lat : 45.767981 	 lng : 4.887219

#### 2.3.3 Accès indicé aux données d'un DataFrame

On peut accéder aux valeurs du DataFrame via des indices ou plages d'indices. 
La structure se comporte alors comme une matrice. La cellule en haut à gauche est de coordonnées (0,0).
Il y a différentes manières de le faire, l'utilisation de `.iloc[,]` constitue une des solutions les plus simples.
Rappel : la méthode `shape()` permet d'obtenir les dimensions (lignes et colonnes) du DataFrame.

In [48]:
## Accès à la valeur située en (0,0) (première ligne, première colonne)
df_bikes.iloc[0:2,0]

0    velov-10001
1    velov-10001
Name: id_velov, dtype: object

In [49]:
## Valeur située en dernière ligne, première colonne
## Utilisation de l'indiçage négatif
df_bikes.iloc[-1,0]

'velov-9052'

In [ ]:
## Alternative avec shape, valeur située en dernière ligne, première colonne
## shape[0] renvoie le nombre de lignes (première dimension)
## il faut réduire de -1 parce le premier indice est égal à 0 sinon on déborde
df_bikes.iloc[df_bikes.shape[0]-1,0]
df_bikes.shape[0]

7800252

In [57]:
## Affichage des 5 premières valeurs de toutes les colonnes
## lignes => 0:5 (0 à 5 [non inclus])
## colonnes = : (toutes les colonnes)
df_bikes.iloc[0:5,:]

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
0,velov-10001,2021,1,1,0,0,2021-01-01 00:00:00+00:00,8,22,0,0
1,velov-10001,2021,1,1,0,30,2021-01-01 00:30:00+00:00,8,22,0,0
2,velov-10001,2021,1,1,1,0,2021-01-01 01:00:00+00:00,7,23,1,0
3,velov-10001,2021,1,1,1,30,2021-01-01 01:30:00+00:00,7,23,0,0
4,velov-10001,2021,1,1,2,0,2021-01-01 02:00:00+00:00,7,23,0,0

In [58]:
## Avec l'indiçage négatif, on peut facilement accéder aux 5 dernières lignes
df_bikes.iloc[-5:,:]

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
7800247,velov-9052,2022,1,1,23,0,2022-01-01 23:00:00+00:00,3,9,0,0
7800248,velov-9052,2022,1,1,23,30,2022-01-01 23:30:00+00:00,3,9,0,0
7800249,velov-9052,2022,1,1,23,30,2022-01-01 23:30:00+00:00,3,9,0,0
7800250,velov-9052,2022,1,2,0,0,2022-01-02 00:00:00+00:00,4,8,0,1
7800251,velov-9052,2022,1,2,0,0,2022-01-02 00:00:00+00:00,4,8,0,1

In [60]:
## 5 premières lignes et colonnes 0, 6, 7 et 8
## on a une liste d'indices en colonne
df_bikes.iloc[0:5,[0,7,6,8]]

      id_velov  bikes                       time  bike_stands
0  velov-10001      8  2021-01-01 00:00:00+00:00           22
1  velov-10001      8  2021-01-01 00:30:00+00:00           22
2  velov-10001      7  2021-01-01 01:00:00+00:00           23
3  velov-10001      7  2021-01-01 01:30:00+00:00           23
4  velov-10001      7  2021-01-01 02:00:00+00:00           23

#### 2.3.4 Filtrage avec des conditions - Les requêtes

Nous pouvons isoler les sous-ensembles d'observations répondant à des critères définis sur les champs. Nous utiliserons préférentiellement la méthode `.loc[,]` dans ce cadre.

In [61]:
## Liste des données d'historique pour la station 'velov-10001'
df_bikes.loc[df_bikes['id_velov']=="velov-10001",:]

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
0,velov-10001,2021,1,1,0,0,2021-01-01 00:00:00+00:00,8,22,0,0
1,velov-10001,2021,1,1,0,30,2021-01-01 00:30:00+00:00,8,22,0,0
2,velov-10001,2021,1,1,1,0,2021-01-01 01:00:00+00:00,7,23,1,0
3,velov-10001,2021,1,1,1,30,2021-01-01 01:30:00+00:00,7,23,0,0
4,velov-10001,2021,1,1,2,0,2021-01-01 02:00:00+00:00,7,23,0,0
...,...,...,...,...,...,...,...,...,...,...,...
22848,velov-10001,2022,1,1,23,0,2022-01-01 23:00:00+00:00,7,21,0,0
22849,velov-10001,2022,1,1,23,30,2022-01-01 23:30:00+00:00,7,21,0,0
22850,velov-10001,2022,1,1,23,30,2022-01-01 23:30:00+00:00,7,21,0,0
22851,velov-10001,2022,1,2,0,0,2022-01-02 00:00:00+00:00,7,21,0,0
22852,velov-10001,2022,1,2,0,0,2022-01-02 00:00:00+00:00,7,21,0,0

In [64]:
## Pour un ensemble de valeurs de la même variable, on utilise la méthode isin()
mes_stations = ['velov-10001','velov-10002']

df_bikes.loc[df_bikes['id_velov'].isin(mes_stations),:]

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
0,velov-10001,2021,1,1,0,0,2021-01-01 00:00:00+00:00,8,22,0,0
1,velov-10001,2021,1,1,0,30,2021-01-01 00:30:00+00:00,8,22,0,0
2,velov-10001,2021,1,1,1,0,2021-01-01 01:00:00+00:00,7,23,1,0
3,velov-10001,2021,1,1,1,30,2021-01-01 01:30:00+00:00,7,23,0,0
4,velov-10001,2021,1,1,2,0,2021-01-01 02:00:00+00:00,7,23,0,0
...,...,...,...,...,...,...,...,...,...,...,...
41215,velov-10002,2022,1,1,23,0,2022-01-01 23:00:00+00:00,3,52,0,0
41216,velov-10002,2022,1,1,23,30,2022-01-01 23:30:00+00:00,5,50,0,2
41217,velov-10002,2022,1,1,23,30,2022-01-01 23:30:00+00:00,5,50,0,1
41218,velov-10002,2022,1,2,0,0,2022-01-02 00:00:00+00:00,5,50,0,0
41219,velov-10002,2022,1,2,0,0,2022-01-02 00:00:00+00:00,5,50,0,0

Des opérateurs logiques permettent de combiner les conditions. 
On utilise respectivement : & pour ET, | pour OU, et ~ pour la négation.

In [65]:
## Liste des données pour la station 'velov-10001' et hour = 8
df_bikes.loc[(df_bikes['id_velov']=="velov-10001") & (df_bikes['hour'] == 8),:]

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
16,velov-10001,2021,1,1,8,0,2021-01-01 08:00:00+00:00,7,23,0,0
17,velov-10001,2021,1,1,8,30,2021-01-01 08:30:00+00:00,7,23,0,0
65,velov-10001,2021,1,2,8,0,2021-01-02 08:00:00+00:00,5,25,0,0
66,velov-10001,2021,1,2,8,30,2021-01-02 08:30:00+00:00,5,25,0,0
114,velov-10001,2021,1,3,8,0,2021-01-03 08:00:00+00:00,8,22,0,0
...,...,...,...,...,...,...,...,...,...,...,...
22694,velov-10001,2021,12,31,8,30,2021-12-31 08:30:00+00:00,6,24,0,0
22787,velov-10001,2022,1,1,8,0,2022-01-01 08:00:00+00:00,7,22,0,0
22788,velov-10001,2022,1,1,8,0,2022-01-01 08:00:00+00:00,7,22,0,0
22789,velov-10001,2022,1,1,8,30,2022-01-01 08:30:00+00:00,7,22,0,0
22790,velov-10001,2022,1,1,8,30,2022-01-01 08:30:00+00:00,7,22,0,0

In [66]:
## Liste des données datant d'après juillet
df_bikes.loc[(df_bikes['month'] > 7),:]

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
14839,velov-10001,2021,8,1,0,0,2021-08-01 00:00:00+00:00,15,15,0,1
14840,velov-10001,2021,8,1,0,0,2021-08-01 00:00:00+00:00,15,15,0,1
14841,velov-10001,2021,8,1,0,30,2021-08-01 00:30:00+00:00,15,15,0,0
14842,velov-10001,2021,8,1,1,0,2021-08-01 01:00:00+00:00,15,15,0,0
14843,velov-10001,2021,8,1,1,30,2021-08-01 01:30:00+00:00,15,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7800149,velov-9052,2021,12,31,22,30,2021-12-31 22:30:00+00:00,6,6,0,0
7800150,velov-9052,2021,12,31,23,0,2021-12-31 23:00:00+00:00,6,6,0,0
7800151,velov-9052,2021,12,31,23,0,2021-12-31 23:00:00+00:00,6,6,0,0
7800152,velov-9052,2021,12,31,23,30,2021-12-31 23:30:00+00:00,6,6,0,0
7800153,velov-9052,2021,12,31,23,30,2021-12-31 23:30:00+00:00,6,6,0,0

In [68]:
#on peut n'afficher qu'une partie des colonnes
#on définit la projection dans une liste
colonnes = ['id_velov','time','bikes','bike_stands']
#que l'on utilise en paramètre dans .loc[]
#pour la même restruction que précédemment
df_bikes.loc[(df_bikes['month'] > 7),colonnes]

            id_velov                       time  bikes  bike_stands
14839    velov-10001  2021-08-01 00:00:00+00:00     15           15
14840    velov-10001  2021-08-01 00:00:00+00:00     15           15
14841    velov-10001  2021-08-01 00:30:00+00:00     15           15
14842    velov-10001  2021-08-01 01:00:00+00:00     15           15
14843    velov-10001  2021-08-01 01:30:00+00:00     15           15
...              ...                        ...    ...          ...
7800149   velov-9052  2021-12-31 22:30:00+00:00      6            6
7800150   velov-9052  2021-12-31 23:00:00+00:00      6            6
7800151   velov-9052  2021-12-31 23:00:00+00:00      6            6
7800152   velov-9052  2021-12-31 23:30:00+00:00      6            6
7800153   velov-9052  2021-12-31 23:30:00+00:00      6            6

[2700466 rows x 4 columns]

* Combien de stations vélo'v on eu plus de 5 départs le 20 septembre 2021 à 12h00 ?

In [73]:
filtered = df_bikes.loc[(df_bikes['year']==2021) & (df_bikes['month']==9) & (df_bikes['day']==20) & (df_bikes['hour']==12) & (df_bikes['minute']==00) & (df_bikes['departure30min']>5),:]
filtered.shape

(13, 11)

#### 2.3.5 Regroupement des variables

L'utilisation de `groupby()` permet d'accéder aux sous-DataFrame associés à chaque item de la variable de regroupement. Il est dès lors possible d'appliquer explicitement d'autres traitements sur ces sous-ensembles de données.

In [74]:
#regroupement des données selon le l'id de la station
g = df_bikes.groupby(['id_velov'])

g.size()

id_velov
velov-10001    22853
velov-10002    18367
velov-10004    22868
velov-10005    22891
velov-10006    22858
               ...
velov-9044     22866
velov-9049     22866
velov-9050     22854
velov-9051     22853
velov-9052     22855
Length: 343, dtype: int64

In [76]:
#calculer la dimension du sous-DataFrame associé à la station 'velov_10001'
g.get_group('velov-10001').shape

C:\Users\BastienCAHIER\AppData\Local\Temp\ipykernel_10740\301033285.py:2: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  g.get_group('velov-10001').shape

(22853, 11)

### 2.4. Visualisation des localisations des stations

Maintenant que vous avez chargé les données en mémoire et vue comment manipuler un `DataFrame`, vous allez produire votre première carte.

#### 2.4.1 Utilisation des librairies GeoPandas et Plotly 

La librairie [GeoPandas](https://geopandas.org/) est conçu pour faciliter la manipulation de données spatiales. La particularité de GeoPandas est qu'elle permet de manipuler les données spatiales comme s'il s'agissait de données traditionnelles. 

Par rapport à un `DataFrame` standard, un `GeoDataFrame`, comporte une colonne supplémentaire: `geometry`. Comme dans un SGBD spatial, cette colonne permet de stocker les contours (la géométrie) d'un objet géographique. Un objet `GeoDataFrame` hérite des propriétés d'un `DataFrame` mais propose des méthodes adaptées au traitement des données spatiales.

Ainsi en plus des manipulations déjà possible avec pandas, on pourra manipulation la dimension spatiale : 
- calculer des distances et des surfaces,
- agréger rapidement des zonages (regrouper les départements en région par exemple),
- rechercher une zone à partir des coordonnées d'un point,
- convertir les données dans différents systèmes de projection,
- faire une carte.

Pour le moment on s'intèresse au dernier point afin de produire une carte des stations Velo'v.

![stations velov avec GeoPandas](https://perso.liris.cnrs.fr/lmoncla/GEONUM/fig/geopandas_stations.png)

* Affichez les stations vélo'v sur une carte. Utiliser la librairie [GeoPandas](https://geopandas.org/gallery/create_geopandas_from_pandas.html#sphx-glr-gallery-create-geopandas-from-pandas-py). Vous devez obtenir le résultat ci-dessus.

In [79]:
## On transforme le dataframe des stations en geodataframe (https://geopandas.org/gallery/create_geopandas_from_pandas.html#sphx-glr-gallery-create-geopandas-from-pandas-py)
gdf_stations = gpd.GeoDataFrame(
    df_stations, 
    geometry=gpd.points_from_xy(df_stations.longitude, df_stations.latitude))

In [80]:
## On affiche les premières lignes du GeoDataFrame pour vérifier l'existance de la colonne géométrie
gdf_stations.head()

      id_velov   latitude  longitude                  geometry
0  velov-10056  45.779112   4.871952  POINT (4.87195 45.77911)
1   velov-9013  45.787384   4.814374  POINT (4.81437 45.78738)
2   velov-5044  45.759797   4.796627   POINT (4.79663 45.7598)
3   velov-9014  45.783341   4.811433  POINT (4.81143 45.78334)
4  velov-10058  45.767126   4.892150  POINT (4.89215 45.76713)

In [82]:
## On affiche directement les données du geodataframe sur une carte 
## avec la méthode scatter_mapbox() de la librairie plotly.express:
fig = px.scatter_mapbox(gdf_stations,
                        lat=gdf_stations.geometry.y,
                        lon=gdf_stations.geometry.x,
                        hover_name="id_velov",
                        zoom=12, mapbox_style="carto-positron")

## On supprime les marges autour de la carte
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

## On affiche la carte
fig.show()

## 3. Préparation des données

### 3.1. Ajout d'information

Avant de pouvoir analyser les données d'historique, on souhaite ajouter quelques informations. Par exemple, le jeu de données initial ne fournit pas directement les trajets (départs / arrivées) des utilisateurs mais seulement le nombre de vélos ou de places disponibles à un instant t (par tranche de 5 minutes). Pour faire une analyse de la fréquentation ou des zones de départs et d'arrivées en fonction du moment de la journée ou de la semaine j'ai calculé les départs et arrivées par tranches de 30min.

A partir des tranches de 30 min nous pouvons par exemple inférer le nombre quotidien.

In [ ]:
## On commence par faire une copie de notre DataFrame, pour pouvoir revenir aux données initiales si besoin
df_sampled = df_bikes.copy()

#### 3.1.1 Calcul du nombre d'arrivées et de départs quotidiens


On peut faire des calculs directement en groupant les lignes grâce à la méthode `groupby()`.

Quelles colonnes faut-il regrouper pour pouvoir calculer les départs et arrivées quotidiens ?

In [84]:
df_sampled.head()

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min
0,velov-10001,2021,1,1,0,0,2021-01-01 00:00:00+00:00,8,22,0,0
1,velov-10001,2021,1,1,0,30,2021-01-01 00:30:00+00:00,8,22,0,0
2,velov-10001,2021,1,1,1,0,2021-01-01 01:00:00+00:00,7,23,1,0
3,velov-10001,2021,1,1,1,30,2021-01-01 01:30:00+00:00,7,23,0,0
4,velov-10001,2021,1,1,2,0,2021-01-01 02:00:00+00:00,7,23,0,0

In [85]:
## La méthode 'transform' permet d'appliquer un calcul au dataframe d'origine (non groupé). 
## Dans notre cas, on souhaite effectuer une somme sur les colonnes departure30min et arrival30min.

## Compléter la liste des colonnes
df_sampled["daily_departure"] = df_sampled.groupby(['id_velov','year','month','day'])['departure30min'].transform('sum')
df_sampled["daily_arrival"] = df_sampled.groupby(['id_velov','year','month','day'])['arrival30min'].transform('sum')

In [ ]:
## On affiche 15 lignes aléatoirement pour visualiser le résultat
df_sampled.sample(15)

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min,daily_departure,daily_arrival
3132814,velov-3018,2021,7,11,6,30,2021-07-11 06:30:00+00:00,26,4,0,1,60,46
5724493,velov-7007,2021,4,27,13,30,2021-04-27 13:30:00+00:00,0,20,1,0,45,43
3716331,velov-3089,2021,11,26,5,30,2021-11-26 05:30:00+00:00,4,20,0,0,36,39
158102,velov-1001,2021,2,12,20,30,2021-02-12 20:30:00+00:00,13,2,0,0,58,51
3151812,velov-3021,2021,5,6,14,30,2021-05-06 14:30:00+00:00,12,8,0,3,36,37
5242278,velov-6022,2021,4,11,15,30,2021-04-11 15:30:00+00:00,9,10,0,0,40,25
7218177,velov-8058,2021,12,9,12,0,2021-12-09 12:00:00+00:00,13,3,1,4,35,36
3897086,velov-3102,2021,9,15,1,30,2021-09-15 01:30:00+00:00,6,10,0,0,19,12
3200985,velov-3029,2021,6,21,2,0,2021-06-21 02:00:00+00:00,23,15,0,0,68,85
3214422,velov-3031,2021,2,16,9,0,2021-02-16 09:00:00+00:00,12,1,0,0,35,35
5682514,velov-7005,2021,6,26,7,0,2021-06-26 07:00:00+00:00,17,1,1,1,51,68
4765976,velov-5041,2021,6,24,19,30,2021-06-24 19:30:00+00:00,15,6,0,1,56,51
6290779,velov-7049,2021,5,13,20,0,2021-05-13 20:00:00+00:00,3,22,0,0,10,1
2804972,velov-2038,2021,4,28,3,30,2021-04-28 03:30:00+00:00,24,0,0,0,60,63
787266,velov-10049,2021,6,30,3,30,2021-06-30 03:30:00+00:00,16,0,0,0,14,13

#### 3.1.2 Distinction semaine / weekend

Afin d'analyser les données on souhaite pouvoir distinguer les jours de la semaine des jours de weekend, pour cela nous devons préparer les données afin d'identifier les jours de weekend.

1. On défini une fonction qui retourne vrai lorsque la date est un jour de la semaine et faux lorsque c'est le weekend
2. On applique cette fonction sur chaque ligne de notre dataframe

In [106]:
## La fonction weekDay, prend 3 paramètres : l'année, le mois et le jour
def weekDay(year, month, day):
    ## Cette méthode retourne vrai (True) si la date correspond à un jour de la semaine, faux (False) sinon
    ## On utilise la fonction datetime() et la méthode weekday()
    ## https://docs.python.org/fr/3/library/datetime.html#datetime.datetime
    
    as_date = datetime(year,month,day)
    if as_date.weekday() < 5:
        return True
    else:
        return False

## On vectorise la fonction afin de l'appliquer de manière efficace (en terme de temps de calcul) sur le dataframe
isWeekDay = np.vectorize(weekDay)

In [105]:
## On ajoute une nouvelle colonne à partir du résultat de la fonction appliquée sur l'ensemble des lignes du dataframe
df_sampled['IsWeekday'] = isWeekDay(df_sampled['year'],df_sampled['month'],df_sampled['day'])

In [102]:
## on affiche un échantillon du dataframe
df_sampled.sample(10)

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min,daily_departure,daily_arrival,IsWeekday
5590607,velov-7001,2021,6,20,22,0,2021-06-20 22:00:00+00:00,11,9,4,0,45,50,False
4256797,velov-4023,2021,4,23,15,30,2021-04-23 15:30:00+00:00,7,15,0,1,32,33,True
6631596,velov-8008,2021,4,8,14,0,2021-04-08 14:00:00+00:00,13,3,1,0,20,11,True
5656361,velov-7004,2021,5,6,22,0,2021-05-06 22:00:00+00:00,30,0,0,1,51,47,True
5545506,velov-6044,2021,7,5,11,0,2021-07-05 11:00:00+00:00,5,10,0,5,47,44,True
206462,velov-10012,2021,3,4,6,30,2021-03-04 06:30:00+00:00,5,11,0,0,32,53,True
2553889,velov-2017,2021,9,8,16,0,2021-09-08 16:00:00+00:00,3,22,4,2,104,103,True
6602922,velov-8007,2021,1,29,19,30,2021-01-29 19:30:00+00:00,2,12,1,0,41,37,True
2584484,velov-2022,2021,2,2,2,30,2021-02-02 02:30:00+00:00,9,21,0,0,20,35,True
5870455,velov-7014,2021,2,11,19,30,2021-02-11 19:30:00+00:00,11,19,0,2,60,50,True

* Créer une nouvelle colonne `day_of_week` qui contient le jour de la semaine (0 pour lundi, 1 pour mardi, etc.)

In [109]:
df_sampled['day_of_week'] = df_sampled.apply(lambda row: datetime(row['year'], row['month'], row['day']).weekday(), axis=1)

In [110]:
## on affiche un échantillon du dataframe
df_sampled.sample(10)

,id_velov,year,month,day,hour,minute,time,bikes,bike_stands,departure30min,arrival30min,daily_departure,daily_arrival,IsWeekday,day_of_week
4522327,velov-5007,2021,12,15,13,30,2021-12-15 13:30:00+00:00,3,13,1,0,27,26,True,2
5314750,velov-6028,2021,6,2,16,30,2021-06-02 16:30:00+00:00,0,16,1,1,62,57,True,2
171526,velov-1001,2021,8,14,11,30,2021-08-14 11:30:00+00:00,12,4,1,0,50,51,False,5
3305187,velov-3043,2021,2,2,17,0,2021-02-02 17:00:00+00:00,5,11,1,6,44,48,True,1
2789346,velov-2037,2021,9,3,8,0,2021-09-03 08:00:00+00:00,17,22,3,3,94,83,True,4
36797,velov-10002,2021,10,8,12,0,2021-10-08 12:00:00+00:00,46,9,1,42,174,159,True,4
2482643,velov-2014,2021,8,5,0,0,2021-08-05 00:00:00+00:00,9,17,1,0,53,55,True,3
2722215,velov-2030,2021,10,16,22,30,2021-10-16 22:30:00+00:00,24,7,0,4,102,89,False,5
3754420,velov-3091,2021,6,23,20,30,2021-06-23 20:30:00+00:00,0,20,0,0,39,45,True,2
3051998,velov-3013,2021,2,11,4,30,2021-02-11 04:30:00+00:00,3,18,0,0,24,24,True,3

## 4. Sauvegarde du jeu de données préparé

Afin de pouvoir réutiliser le jeu de données sans refaire tous les traitements on l'enregistre dans un fichier CSV.

Utiliser la méthode [to_csv()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) de la librairie Pandas pour enregistrer le dataframe modifié dans un fichier.

In [111]:
## On enregistre le dataframe modifié

compression_opts = dict(method='zip', archive_name='data-bikes-2.csv')  
df_sampled.to_csv('../data/data-bikes-2.zip', index=False, compression=compression_opts)